.body{
	margin: 0px;
	padding: 0px;
	font-family: calibri ;
}
.container-fluid{
	padding: 0px;
	margin: 0px;
}
.img{
	background-image: url("../images/bg.jpg");
	height: 700px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.nav {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 79px;
	/* UI Properties */
	background: #1760A6 0% 0% no-repeat padding-box;
	opacity: 1;
	display: inline-flex;
	float: left;
	padding-top: 10px;
}
.ul{
	display: inline-flex;
	list-style-type: none;
	margin-top: 7px;
	padding-left: 10px;
	float: left;
}
.a{
	top: 16px;
	left: 100px;
	width: 168px;
	height: 30px;
	background: transparent url('img/Component 41 – 2.png') 0% 0% no-repeat padding-box;
	opacity: 1;
}
.logo{
	padding-left: 170px;
	padding-right: 150px;
	height: 60px;	
}
.navbar-brand {
    padding-top: 5px;
    padding-bottom: 0.3125rem;
    margin-left: 10px;
    margin-right: 1rem;
    font-size: 15px;
    text-decoration: none;
    white-space: nowrap;
}
.nav1{
	color: #dddddf;
	padding: 29px 23px;
	text-decoration: none;
	font-size: 14px;
}
.nav1:hover{
	border-top: white solid 1px;
	color: white;
}
.req{
	color: white;
	background: transparent;
	border: solid 1px;
	padding: 8px;
	margin-left: 20%;
	font-size: 12px;
	border-radius: 5px;
}
.req:hover{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	opacity: 1;
	color: #1760A6;
}
.h{
	text-align: center;
	color: #F8FF20;
	padding-top: 100px;
	font: normal normal normal 20px/27px Nunito;
	padding-bottom: 20px;
	width: 100%;
}
.sol{
	margin-top: 8px;
	width: 100%;
	text-align: center;
	height: 54px;
	/* UI Properties */
	font: normal normal bold 45px/54px Nunito;
	letter-spacing: 0.64px;
	color: #FFFFFF;
	opacity: 1;
}
.p1{
	margin-left: 23%;
	width: 828px;
	height: 52px;
	text-align: center;
	font: normal normal normal 17px/29px Nunito;
	letter-spacing: 0.26px;
	color: #FFFFFF;
	opacity: 1;
}
.button2{
	top: 329px;
    background: transparent;
    border: solid 1px white;
    color: white;
    padding: 6px;
    margin-right: 20px;
    border-radius: 4px;
    width: 198px;
    padding-top: 5px;
    height: 44px;
}
.button2:hover{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	opacity: 1;
	color: #1760A6;
}
.play{
    height: 31px;
    margin-right: 15px;
    margin-left: 7px;
}
.over{
	background-image: url("..//images/Component 61 – 2@2x.jpg");
	margin-top: 20px;
	width: 60%;
	height: 400px;
	margin-left: 20%;
}
.play1{
	padding: 20%;
	margin-left: 20%;
}
.link{
	margin-top: 12%;
	background: #F8FBFF 0% 0% no-repeat padding-box;
	opacity: 1;
	height: 200px;
}
.listpic{
	margin-left: 12%;
	padding-top: 50px;
}
.heading{
	text-align: left;
	height: 54px;
	font: normal normal bold 41px/54px Nunito;
	width: 887px;
}
.busniess{
	padding-left: 100px;
	padding-right: 106px;
	margin-top: 2%;
}
.parasol{
	width: 800px;
	height: 52px;
	text-align: left;
	font: normal normal normal 16px/30px Nunito;
	letter-spacing: 0.26px;
	color: #747474;
	opacity: 1;
}
.cardset{
    padding-right: 18px;
    padding-left: 30px;
}
.cardimage{
	height: 136px;	
	padding-top: 40px;
	padding-left: 30%;
}
.listset{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 20px #98989829;
	border-radius: 4px;
	opacity: 1;
	top: 1439px;
	left: 884px;
	width: 400px;
	height: 418px;
	margin-right: 30px;
}
.cardhead{
	font: normal normal bold 24px/32px Nunito;
	letter-spacing: 0.38px;
	color: #041424;
	opacity: 1;
	text-align: center;
	padding-top: 15px;
}
.linkbtn{
    text-decoration: none;
    color: #FF9720;
    margin-left: 30%;
}
.dashboard{
	background-image: url("../images/bg.jpg");
	height: 700px;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 8%;
}
.dashin{
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 207px;
}
.dash-head{
	text-align: left;
	font: normal normal bold 40px/54px Nunito;
	letter-spacing: 0.64px;
	color: #FFFFFF;
	opacity: 1;
	width: 1059px;
	padding-top: 20px;
}
.p2{
	text-align: left;
	font: normal normal normal 16px/30px Nunito;
	letter-spacing: 0.26px;
	color: #FFFFFF;
	opacity: 1;
}
.btn-list:hover{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	color: black;
}
.btn-list{
	text-align: left;
	font: normal normal normal 16px/22px Nunito;
	letter-spacing: 0px;
	color: #C9C9C9;
	opacity: 1;
	background: transparent;
	border-radius: 4px;
	margin-right: 20px;
	padding: 12px;
}
.main-set{
	margin-left: 115px;
	margin-top: 15%;
}
.app-head{
	text-align: left;
	font: normal normal bold 40px/54px Nunito;
	letter-spacing: 0.64px;
	color: #041424;
	opacity: 1;
}
.app-p{
	top: 3077px;
	padding-right: 100px;
	width: 1156px;
	height: 52px;
	text-align: left;
	font: normal normal normal 16px/30px Nunito;
	letter-spacing: 0.26px;
	color: #041424;
	opacity: 1;
}
.head-fe{
	text-align: left;
	font: normal normal bold 24px/32px Nunito;
	letter-spacing: 0.38px;
	color: #041424;
	opacity: 1;
	margin-left: -93px;
    margin-top: 19px;
}
.rec{
    height: 360px;
    width: 7px;
    margin-left: 85px;
    margin-right: 150px;
    margin-top: 80px;
    background-color: #E8E8E8;
}
.app-list-t{
    margin-top: 20%;
    margin-left: -32%;
}
.app-list{
	margin-bottom: 18px;
	width: 292px;
	height: 32px;
	/* UI Properties */
	text-align: left;
	font: normal normal normal 24px/32px Nunito;
	letter-spacing: 0.38px;
	color: #041424;
	opacity: 1;
}
.app-h{
	text-align: left;
	font: normal normal bold 16px/22px Nunito;
	letter-spacing: 0.26px;
	color: #041424;
	opacity: 1;
	margin-top: 13%;
    margin-left: 38px;
}
.app-image{
    margin-top: 17%;
    margin-left: -4%;
}
.service-d{

    margin-top: 12%;   
}
.service-h{
	text-align: left;
	font: normal normal bold 40px/54px Nunito;
	letter-spacing: 0.64px;
	color: #041424;
	opacity: 1;
}
.service-p{
	text-align: left;
	font: normal normal normal 16px/30px Nunito;
	letter-spacing: 0.26px;
	color: #747474;
	opacity: 1;
}
.s-image{

	margin-top: 20px;
}
.s-list{
	text-align: left;
	font: normal normal bold 16px/22px Nunito;
	letter-spacing: 0.26px;
	color: #041424;
	opacity: 1;
	margin-top: 25px;
}
.s-para{
	text-align: left;
	font: normal normal normal 16px/30px Nunito;
	letter-spacing: 0.26px;
	color: #747474;
	opacity: 1;
	padding-right: 50%;
}
.s-link{
	text-decoration: none;
	text-align: left;
	font: normal normal 600 16px/22px Nunito;
	letter-spacing: 0px;
	color: #1760A6;
	opacity: 1;
}
.demo-bar{
	margin-top: 8%;
	background-image: url("../images/bg.jpg");
	height: 280px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
}
.demo-h{
	padding-top: 3%;
	text-align: center;
	font: normal normal bold 40px/54px Nunito;
	letter-spacing: 0.64px;
	color: #FFFFFF;
	opacity: 1;
}
.demo-p{
	text-align: center;
	font: normal normal normal 16px/30px Nunito;
	letter-spacing: 0.26px;
	color: #FFFFFF;
	opacity: 1;
	width: 27%;
    margin-left: 37%;
}
.footer{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px -3px 6px #B1B1B129;
	opacity: 1;
	display: inline-flex;
	margin-top: 6%;
	width: 100%;
}
.info{
	top: 5227px;
	left: 100px;
	width: 281px;
	height: 238px;
	/* UI Properties */
	opacity: 1;
	margin-left: 10%;
	margin-top: 30px;
}
.f-para{
	text-align: left;
	font: normal normal normal 16px/30px Nunito;
	letter-spacing: 0.26px;
	color: #1760A6;
	opacity: 1;
	margin-top: 20px;
}
.quick{
	text-align: left;
	font: normal normal 800 16px/30px Nunito;
	letter-spacing: 0.26px;
	color: #1760A6;
	opacity: 1;
	margin-top: 50px;
}
.q-links{
	text-align: left;
	font: normal normal normal 16px/30px Nunito;
	letter-spacing: 0.26px;
	color: #1760A6;
	opacity: 1;
	text-decoration: none;
}
.f-set{

	margin-left: 17%;
}
.copy{
	margin-top: 5%;
	height: 59px;
	background: #1760A6 0% 0% no-repeat padding-box;
	opacity: 1;
	display: inline-flex;
	width: 100%;
}
.c-para{
	margin-left: 504px;
    padding-top: 15px;
	text-align: left;
	font: normal normal bold 16px/30px Nunito;
	letter-spacing: 0.26px;
	color: #FFFFFF;
	opacity: 1;
}
.c-link{
	text-decoration: none;
    padding-top: 15px;
	text-align: left;
	font: normal normal  16px/30px Nunito;
	letter-spacing: 0.26px;
	color: #FFFFFF;
	opacity: 1;
	margin-left: 18%;
}
.c-link:hover{
	text-decoration: none;
    padding-top: 15px;
	text-align: left;
	font: normal normal  16px/30px Nunito;
	letter-spacing: 0.26px;
	color: #FFFFFF;
	opacity: 1;
	margin-left: 18%;
}














































































































